.header-index {
    background-color: skyblue;
    text-align: center;
    padding: 20px;
}

.main {
    margin: 20px;
    height: 100vh;
}

.sizeTodo {
    max-width: 800px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.task {
    height: 100%;
    background-color: lightsteelblue;
}

.task-completed {
    text-decoration-line: line-through
}

.btn {
    width: 100px;
    margin: 6px;
}

.pointer {
    cursor: pointer;
}

.footer-index {
    background-color: skyblue;
    text-align: center;
    padding: 20px;
}